body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: brown;
  padding: 10pt;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  padding: 5px;
  text-align: center;
  margin: auto;
}

.mb-3{
width: 90%;

}

button {
  margin: 15px;
}


#gombok {
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: "g";
}

#cim {
  font-size: larger;
  margin-right: auto;
  grid-area: "c";
}



.valid {
  color: green;
}

.invalid {
  color: red;
}

.elrejt {
  display: none;
}

.ellenorzes {
  color: red;
}

.input {
  grid-area: input;
  padding: 10px;
  display: grid;
}


#jog {
  color: white;
}


h5{
  color: red;
  font-size: 18px;
}