body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: brown;
  padding: 10pt;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  padding: 5px;
  text-align: center;
  margin: auto;
}

button {
  margin: 15px;
}

#gombok {
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#cim {
  font-size: larger;
  margin-right: auto;
  grid-area: "c";
}

article {
  margin: auto;
  text-align: center;
}

article {
  margin: auto;
  text-align: left;
  
}

.input{
  margin: auto;
  display: grid;
}
.adatok{
  text-align: left;
  margin: auto;
  text-align: left;

}

.gyerekAdat {
  text-align: left;
}

.gyerekLakcim {
  text-align: left;
}



.valid {
  color: green;
}

.invalid {
  color: red;
}

.elrejt {
  display: none;
}
